.button {
  border: 0;
  outline: none;
  cursor: pointer;
}

.button:hover {
  background-color: #cca700;
}

.button__type_forum {
  background-color: #fccf00;
  border: 10px double black;
  padding: 5px 20px;
  font-size: 0.8rem;
  font-weight: 600;
  font-family: PressStart2P, sans-serif;
  text-transform: uppercase;
}

@media screen and (max-width: 900px) {
  .button__type_forum {
    font-size: 0.6rem;
    padding: 5px 10px;
  }
}

@media screen and (max-width: 650px) {
  .button__type_forum {
    font-size: 0.5rem;
    padding: 3px 7px;
  }
}